@import '../../settings/fonts.css';
@import '../../settings/variables.css';

body {
    font-family: 'text';
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-wrapper {
    max-width: 500px;
    padding: 2em;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

}

.form-container {
    margin-top: 46em;
    display: flex;
    flex-direction: column;
}

.form-title {
    font-size: 2em;
    text-align: center;
    color: var(--color-four);
    margin-bottom: 1em;
    font-family: 'titleForm';
}

.form-description {
    text-align: center;
    margin-bottom: 1.5em;
    color: var(--color-seven);
}

.form-group {
    margin-bottom: 1.5em;
}

input,
select,
textarea {
    width: 100%;
    padding: 0.8em;
    border: 1px solid var(--color-three);
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
    font-family: 'text';
}

textarea {
    height: 100px;
    resize: none;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: var(--color-four);
    box-shadow: 0 0 5px var(--color-four);
}

fieldset {
    border: 1px solid var(--color-three);
    padding: 1em;
    border-radius: 5px;
    background-color: var(--bg-hover);
}

legend {
    color: var(--color-four);
    font-weight: bold;
}

button {
    width: 100%;
    padding: 0.8em;
    border: none;
    border-radius: 5px;
    background-color: var(--color-six);
    color: var(--text-two);
    border: 2px solid var(--color-five);
    border-radius: 4px;
    font-family: 'titleForm';
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--color-five);
}
