@import '../settings/fonts.css';
@import '../settings/variables.css';

/* Estilos generales */
form {
    position: absolute;
    top: 5%;
    left: 7%;
    padding: 2em;
    border-radius: 10px;
    filter: drop-shadow(10px 7px 19px rgba(21, 25, 30, 0.5));
    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box;
}

.form-sign-in {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-left: 0;
}

form h2 {
    font-weight: bold;
    font-family: 'titleForm';
    text-align: center;
}

form p {
    font-size: 14px;
    padding-bottom: 1.5em;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 25em;
}

form label {
    font-family: 'titleForm';
    opacity: 0.7;
    display: block;
    margin-bottom: 0.5em;
}

form input {
    width: 100%;
    padding: 0.5em 1em;
    margin: 1em 0;
    border-radius: 4px;
    background-color: rgba(7, 25, 15, 0.1);
    color: #ffffff;
}

form input:focus {
    background-color: #15191E;
    color: #ffffff;
    font-family: 'text';
}

button.form-submit-btn {
    background-color: #051923;
    border: 2px solid #baff29;
    padding: 1em 3.5em;
    font-family: 'titleForm';
    color: #ffffff;
    cursor: pointer;
    display: block;
    margin: 2em auto;
}

button.form-submit-btn:hover {
    background-color: #051923;
    border: 3px solid #ffffff;
    filter: drop-shadow(10px 7px 10px #07190f);
}

form a {
    font-family: 'text';
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 1em;
}

/* Media queries para diferentes tamaños de pantalla */

/* Tablets y dispositivos medianos */
@media (max-width: 768px) {
    form {
        padding: 2em 5em;
    }

    form p {
        font-size: 13px;
    }

    button.form-submit-btn {
        padding: 1em 2em;
    }
}

/* Teléfonos móviles */
@media (max-width: 480px) {
    form {
        position: static;
        width: 90%;
        padding: 1em;
    }

    form h2 {
        font-size: 18px;
    }

    form p {
        font-size: 12px;
    }

    form label {
        font-size: 14px;
    }

    form input {
        margin: 1em 0;
        padding: 0.5em;
    }

    button.form-submit-btn {
        padding: 1em 1.5em;
    }
}
